h1, h2, h3, h4 {
  margin: 0;
}


.slide {
  height: 100vh;
  background: #ccc;
  padding: 50px;
} .divider {
  border: 0;
  height: 1px;
  background-color: white;
} .navbar-custom {
  margin-bottom: 50px;
} .about {
  padding-top: 125px;
}
